* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

section {
	height: 100vh;
	scroll-snap-align: start;
	padding-top: 10rem;
}

.container {
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	height: 100vh;
}

nav {
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 5%;
	background: #11243b;
	color: white;
}
nav ul {
	display: flex;
	list-style: none;
	justify-content: space-evenly;
}

.nav-links li {
	padding-left: 5rem;
	padding-right: 1rem;
	font-size: 1rem;
}
.nav-links a {
	text-decoration: none;
	color: white;
}
.logo {
	font-family: 'Arizonia', cursive;
	font-size: 2rem;
}

.intro {
	background: #11243b;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.intro-text {
	color: white;
	font-size: 3rem;
}
.slider {
	background: #ffc105;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	transform: translateY(100%);
}
.hide {
	background: #11243b;
	overflow: hidden;
}
.hide span {
	transform: translateY(100%);
	display: inline-block;
}
.bio {
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	font-size: 2rem;
}
.skills {
	text-align: center;
	margin-top: 10rem;
	background-color: white;
}
.skills img {
	margin-top: 5rem;
	height: 5rem;
	width: 5rem;
}
.projectspage {
	background-color: #11243b;
}
.card-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 1rem;
}
.card {
	background: white;
	padding: 1rem;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .4);
	border-radius: .25rem;
}
.card-header {
	font-size: 1.2rem;
	margin-bottom: .5rem;
}
.card-body {
	font-size: .9rem;
}
.card-footer {
	margin-top: 1rem;
}
.btn {
	--color: hsl(200, 50%, 50%);
	background: var(--color);
	color: white;
	border: none;
	padding: .7em .75em;
	border-radius: .25em;
	cursor: pointer;
}
.btn:hover,
.btn:focus {
	background: hsl(200, 50%, 60%);
}

.resume {
	background-color: #white;
}
.contact {
	background-color: #11243b;
}

img {
	height: 1rem;
	width: 1rem;
}
