* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

section {
	height: 100vh;
	scroll-snap-align: start;
	padding: 7rem 2rem 2rem 2rem;
}

.container {
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	height: 100vh;
}

nav {
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 0.5%;
	background: white;
	color: #38b6ff;
	height: 10vh;
	box-shadow: 0 2px 5px 0 #11243b;
}
nav ul {
	display: flex;
	list-style: none;
	justify-content: space-evenly;
}

.nav-links li {
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 1.25rem;
}
.nav-links a {
	text-decoration: none;
	color: #38b6ff;
}
.nav-links a:hover {
	text-decoration: underline;
}
.logo {
	font-family: 'Arizonia', cursive;
	font-size: 2rem;
}

.intro {
	background: #11243b;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.intro-text {
	color: white;
	font-size: 3rem;
}
.slider {
	background: #38b6ff;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	transform: translateY(100%);
}
.hide {
	background: #11243b;
	overflow: hidden;
}
.hide span {
	transform: translateY(100%);
	display: inline-block;
}
.bio {
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	font-size: 2rem;
}
.bio h2 {
	color: #38b6ff;
}
.bio p {
}
.bio button {
	background: #38b6ff;
	color: white;
	border: none;
	padding: .7em .75em;
	border-radius: .25em;
	margin-top: 1rem;

	cursor: pointer;
}

.skills {
	text-align: center;
	margin-top: 10rem;
	background-color: white;
}
.skills img {
	margin-top: 5rem;
	height: 5rem;
	width: 5rem;
}
.projectspage {
	background-color: white;
}
.card-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 2rem;
	max-height: 90vh;
}
.card {
	background: white;
	padding: 1rem 1rem 0rem 1rem;
	box-shadow: 0 2px 5px 0 #11243b;
	border-radius: .25rem;
	justify-content: center;
	height: 70vh;
}
.card:hover {
	box-shadow: 0 2px 5px 0 hsl(200, 50%, 50%);
}
.card img {
	height: 50%;
	width: 100%;
}
.card-header {
	font-size: 1.2rem;
	margin-bottom: .5rem;
	color: hsl(200, 50%, 50%);
}
.card-body {
	font-size: .9rem;
}
.card-footer {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.btn {
	--color: hsl(200, 50%, 50%);
	background: var(--color);
	color: white;
	border: none;
	padding: .7em .75em;
	border-radius: .25em;
	cursor: pointer;
}
.btn:hover,
.btn:focus {
	background: hsl(200, 50%, 60%);
}
.contact {
	background-color: #11243b;
}
.contact-container {
	background: white;
	height: 80vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding: 10px;
	box-shadow: 0 2px 5px 0 #11243b;
	border-radius: .5em;
}
.contact-form {
	background: #11243b;
	color: white;
	display: flex;
	flex-direction: column;
	border-radius: .5em;
	padding: 1rem;
	width: 40rem;
	box-shadow: 0 2px 5px 0 #11243b;
}
.contact-form input {
	border-radius: 25em;
	height: 1em;
	font-size: 1em;
	padding: 1em;
}
.contact-form textarea {
	border-radius: 1em;
	font-size: 1em;
	padding: 1em;
}
.contact-form button {
	padding: 2rem;
	margin-top: 1rem;
	border-radius: 1em;
}
label {
	margin: 20px 0px 20px 0px;
}
.contact img {
	height: 2rem;
	width: 2rem;
}
